.btn {
  width: 50%;
  border: 1px solid #333;
  padding: 0.5rem;
  background-color: #3333;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #33f8;
  color: #fff;
}

.active {
  background-color: #33f8;
  box-shadow: 0 0 5px 5px #33f6;
}
